/* Do not hide these elements in the editor */
.hide-mobile,
.hide-tablet,
.hide-desktop {
	display: block !important;
}

/**
  Fixes Youtube previews in backend editor
  https://tickets.greenpeace.ch/view.php?id=419
 */
.embed-container,
.wp-block-embed-dailymotion .wp-block-embed__wrapper,
.wp-block-embed-kickstarter .wp-block-embed__wrapper,
.wp-block-embed-vimeo .wp-block-embed__wrapper,
.wp-block-embed-youtube .wp-block-embed__wrapper {
	padding-bottom: 56.25%;
}