p.is-style-accent-1 {
    padding: 1em 4em;
    background-color: var(--beige-100);

    color: var(--color-text-heading);
    font-size: 1.2rem;
    font-weight: var(--gpch--font-weight--semibold);
}

p.is-style-accent-2 {
    padding: 1em 4em;
    background-color: var(--p4-dark-green-800);
    color: #fff;

    font-size: 1.2rem;
    font-weight: var(--gpch--font-weight--semibold);
}