
:root {
    /*------------------------------------------
    # Layout
    ------------------------------------------*/

    --gpch-one-column-content-width: 740px;


    /*------------------------------------------
    # Typography
    ------------------------------------------*/

    /* Overall font  definitions */
    //--gpch--font-family-standard: SourceSerifPro;
    --gpch--font-family-standard: Roboto, sans-serif;
    --gpch--font-family-header: GreenpeaceSans;
    --gpch--font-weight--normal: 400;
    --gpch--font-weight--semibold: 500;
    --gpch--font-weight--bold: 600;


    /* Font sizes */
    --h3--medium-and-up--font-size: 1.5em;


    /* Headings */
    /*
    --font-family-heading: var(--gpch--font-family-header);
    --page-section-header--font-family: var(--gpch--font-family-standard);
    --page-section-header--font-weight: var(--gpch--font-weight--bold);

     */

    --line-height-xl--font-family-secondary: 1.5;

    /* Body text */
    --body--font-family: var(--gpch--font-family-standard);
    --font-family-primary: var(--gpch--font-family-standard);
    --font-family-secondary: var(--gpch--font-family-standard);
    --font-family-tertiary: var(--gpch--font-family-standard);
    --font-family-paragraph-primary: var(--gpch--font-family-standard);
    --font-family-paragraph-secondary: var(--gpch--font-family-standard);

    --font-size-m--font-family-secondary: 1.125rem;


    /* Navigation */
    --nav-item--font-size: 1.125rem;

    /* Buttons */

    --font-family-button: var(--gpch--font-family-standard);
    --font-family-paragraph-secondary: var(--gpch--font-family-standard);

    --font-size-xl--font-family-secondary: 18px;

    --font-weight-regular: 400;
    --font-weight-semibold: 500;
    --nav-item--font-weight: 600;
    --button--font-weight: 500;
    --top-page-tags--tag-item--font-weight: 500;

    --page-section-header--font-weight: var(--gpch--font-weight--bold);


    /* Colors */
    --color-border-separator: var(--grey-500)

}