.style-test-window {
    position: fixed;
    top: 20px;
    left: 20px;
    background-color: #ffffff;
    z-index: 999999;
    border-radius: 4px;

    padding: 0 1em .5em 1em;
    border: solid 2px darkred;

    display: none;

    .icons {
        .icon {
            font-size: 2rem;
            margin: 0 .4em;
            cursor: pointer;
        }
    }

    .settings {
        display: none;

        ul {
            list-style-type: none;
            padding: 0;

            li {
                margin: .5em 0;
            }
        }
    }
}


body.p4gpch-exp0-A {}
body.p4gpch-exp0-B {
    h2,
    .page-section-header {
        font-family: var(--gpch--font-family-header);
    }
}
body.p4gpch-exp0-C {
    h2, h3, h4,
    .page-section-header {
        font-family: var(--gpch--font-family-header);
    }

    .top-navigation,
    .btn,
    .wp-block-button a {
        font-family: var(--gpch--font-family-header);
    }

}



body.p4gpch-exp1-A {
    --gpch--font-family-standard: Roboto, sans-serif;
    --body--font-family: Roboto, sans-serif;
    --font-family-paragraph-primary: Roboto, sans-serif;
    --font-family-paragraph-secondary: Roboto, sans-serif;
    --font-family-primary: Roboto, sans-serif;
    --font-family-secondary: Roboto, sans-serif;
    --cookie-notice--font-family: Roboto, sans-serif;
}

body.p4gpch-exp1-B {
    --gpch--font-family-standard: SourceSerifPro;
    --body--font-family: SourceSerifPro;
    --font-family-paragraph-primary: SourceSerifPro;
    --font-family-paragraph-secondary: SourceSerifPro;
    --font-family-primary: SourceSerifPro;
    --font-family-secondary: SourceSerifPro;
    --cookie-notice--font-family: SourceSerifPro;
}
body.p4gpch-exp1-C {
    --gpch--font-family-standard: SourceSans3;
    --body--font-family: SourceSans3;
    --font-family-paragraph-primary: SourceSans3;
    --font-family-paragraph-secondary: SourceSans3;
    --font-family-primary: SourceSans3;
    --font-family-secondary: SourceSans3;
    --cookie-notice--font-family: SourceSans3;

    --font-size-xl--font-family-secondary: 19px !important;
    --line-height-xl--font-family-secondary: 1.4 !important;;
}


