
.h1, .h2, .h3, .h4, .h5, .h6, h1, h2, h3, h4, h5, h6 {
    line-height: 1.36;
}

h1 {
    font-family: var(--gpch--font-family-header);
}

.take-action-covers-block .cover .cover-card-content .cover-card-heading,
.articles-block h4 a,
.covers-block h5 a {
    font-family: var(--gpch--font-family-header);
}

