$font-family: Roboto, sans-serif;

$font-size-standard: 1.125rem;
$font-size-standard-mobile: 1rem;

$font-weight-bold: 700;
$font-weight-h3: 500;

$line-height-standard: 1.5;
$line-height-h2: 1.38;
$line-height-h3: 1.2;

$margin-bottom-h3: .5rem;

