ul.is-style-accent-info {
	display: inline-block;
	padding: 1em 8em 1em 4em;
	text-indent: -16px;
	list-style: none;
	background-color: var(--beige-100);

	li {
		margin-bottom: 0.5em;
	}

	li,
	li a {
		font-weight: var(--gpch--font-weight--semibold);
		color: var(--color-text-heading);
	}

	& > li::before {
		content: "\261b";
		display: inline-block;
		width: 16px;
		color: var(--color-text-heading);
	}

	ul {
		text-indent: 0;
		margin-top: 0.5em;
	}
}
