/* All themes */
ul.is-style-accent-links {
	display: inline-block;
	padding: 1em 8em 1em 4em;
	text-indent: -16px;
	list-style: none;


	li,
	li a {
		color: $color_standard_1;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1.6em;
	}

	li:before {
		content: "\2192";
		display: inline-block;
		width: 16px;
		color: $color_standard_3;
	}
}

ul.is-style-accent-info {
	display: inline-block;
	padding: 1em 8em 1em 4em;
	text-indent: -16px;
	list-style: none;;
	background-color: $color_standard_2;

	li {
		margin-bottom: .5em;
	}

	li,
	li a {
		font-weight: 700;
		font-size: 1.2rem;
		color: $color_standard_1;
	}

	li:before {
		content: "\261b";
		display: inline-block;
		width: 16px;
		color: $color_standard_3;
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		ul.is-style-accent-links {
			li,
			li a {
				color: #{nth($colors_1, $i)};;
			}

			li:before {
				color: #{nth($colors_3, $i)};;
			}
		}

		ul.is-style-accent-info {
			background-color: #{nth($colors_2, $i)};;

			li,
			li a {
				color: #{nth($colors_1, $i)};;
			}

			li:before {
				color: #{nth($colors_3, $i)};;
			}
		}
	}
}


@include media('<=desktop') {
	ul.is-style-accent-info {
		padding-right: 1em;

		li,
		li a {
			font-size: 1rem;
		}
	}
	ul.is-style-accent-links {
		padding-right: 1em;

		li,
		li a {
			font-size: 1rem;
		}
	}
}
