.issuuembed {
	display: block;
	width: 100% !important;
	min-height: 460px !important;

	iframe {
		width: 100%;
		min-height: 460px;
		max-height: 100vh;
	}
}

.wp-block-embed-youtube {
	iframe {
		width: 100%;
	}
	
	figcaption {
		text-align: left;
		font-weight: 700;
	}
}
