hr.wp-block-separator {
	height: 2px;
	width: 100%;
	margin: 2rem auto 4rem auto;
	border: none;
	background-color: $color_standard_1;
}


body.tag-wald {
	hr.wp-block-separator {
		background-color: $color_forest_1;
	}
}

body.tag-klima {
	hr.wp-block-separator {
		background-color: $color_climate_1;
	}
}