.issuuembed {
	display: block;
	width: 100% !important;
	min-height: 460px !important;

	iframe {
		width: 100%;
		min-height: 460px;
		max-height: 100vh;
	}
}

.wp-block-embed-youtube {
	iframe {
		width: 100%;
	}
	
	figcaption {
		text-align: left;
		font-weight: 700;
	}
}

/*
	Fixes broken css in Youtube embed
	https://tickets.greenpeace.ch/view.php?id=322
 */
.wp-block-embed-youtube .wp-block-embed__wrapper {
	padding-bottom: 0;
}

