h2,
h2.page-section-header {
	margin-top: 3rem;
	margin-bottom: 1.5rem;

	font-size: 2.375rem;
	font-weight: 700;
	line-height: 1.38;

	color: $color_standard_1;
}

/* Remove top margin inside certain blocks that already have a margin */
.block.article-listing,
.block.covers-block {
	h2,
	h2.page-section-header {
		margin-top: 0;
	}
}


h3 {
	margin-top: 2em;
	font-size: 1.5rem;
	font-weight: 700;
	color: $color_gray_dark;
}

h4 {
	font-size: 1.2rem;
	font-weight: 700;
}

/* Headings in columns don't need a top margin */
.wp-block-column > h1:first-child,
.wp-block-column > h2:first-child,
.wp-block-column > h3:first-child,
.wp-block-column > h4:first-child,
.wp-block-column > h5:first-child,
.wp-block-column > h6:first-child {
	margin-top: 0;
}

/* Headings next to each other need less margin */
h2 + h3,
.wp-block-column > h2 + h3 {
	margin-top: -10px;
	margin-bottom: 1.5rem;
}


h2.is-style-underline:after,
h3.is-style-underline:after {
	content: "";
	display: block;
	position: relative;
	top: .8rem;
	left: -80px;
	height: 2px;
	width: 160px;
	margin-bottom: 3rem;
	background-color: $color_standard_3;
}

h3.is-style-underline {
	color: $color_standard_3;
}

h3.is-style-underline:after {
	background-color: $color_standard_2;
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		h2 {
			color: #{nth($colors_1, $i)};
		}

		h2.is-style-underline:after {
			background-color: #{nth($colors_3, $i)};
		}

		h3.is-style-underline {
			color: #{nth($colors_3, $i)};
		}

		h3.is-style-underline:after {
			background-color: #{nth($colors_2, $i)};
		}
	}
}

@include media('<=tablet') {
	h2,
	h2.page-section-header {
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}

}