h2,
h2.page-section-header {
	margin-top: 3rem;
	margin-bottom: 1.5rem;

	font-size: 2.375rem;
	font-weight: $font-weight-bold;
	line-height: $line-height-h2;

	color: $color_standard_1;
}

.post-content h2 {
	font-size: 1.875rem;
}

/* The master theme formats these as display-inline, which prevents margins from collapsing.  */
.page-content {
	h2 {
		display: block;
		margin-top: 3rem;
		margin-bottom: 1.5rem;
	}
}

/* P4 blocks use different markup, get the titles to looks similar */
.articles-block > .container > header,
.covers-block > .container > header,
.content-covers-block > .container > header {
	margin-bottom: 1.5rem;
}

/* remove top margin when inside other blocks */
.articles-block > .container > header > h2,
.articles-block > .container > header > h2.page-section-header,
.content-covers-block > .container > h2 {
	margin-top: 0;
}

/* Remove top margin inside certain blocks that already have a margin */
.block.article-listing,
.block.covers-block {
	h2:not(.cover-card-heading),
	h2.page-section-header {
		margin-top: 0;
	}
}


h3 {
	margin-top: 2em;
	margin-bottom: $margin-bottom-h3;
	font-size: 1.5rem;
	font-weight: $font-weight-bold;
	line-height: $line-height-h3;
	color: $color_gray_dark;
}

h4 {
	font-size: 1.25rem;
	font-weight: $font-weight-bold;
}

.single h2 {
	margin-top: 1.5rem;
	margin-bottom: .5rem;
}

/* Headings in columns don't need a top margin */
.wp-block-column > h1:first-child,
.wp-block-column > h2:first-child,
.wp-block-column > h3:first-child,
.wp-block-column > h4:first-child,
.wp-block-column > h5:first-child,
.wp-block-column > h6:first-child {
	margin-top: 0;
}

h2.is-style-underline:after,
h3.is-style-underline:after {
	content: "";
	display: block;
	position: relative;
	top: .8rem;
	left: -80px;
	height: 2px;
	width: 160px;
	margin-bottom: 3rem;
	background-color: $color_standard_3;
}

h3.is-style-underline {
	color: $color_standard_3;
}

h3.is-style-underline:after {
	background-color: $color_standard_2;
}

/* Fixes for master theme */
div.page-content > h2 {
	display: block;
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		h2 {
			color: #{nth($colors_1, $i)};
		}

		h2.is-style-underline:after {
			background-color: #{nth($colors_3, $i)};
		}

		h3.is-style-underline {
			color: #{nth($colors_3, $i)};
		}

		h3.is-style-underline:after {
			background-color: #{nth($colors_2, $i)};
		}
	}
}

@include media('<=tablet') {
	h2,
	h2.page-section-header {
		margin-top: 2rem;
		margin-bottom: 1rem;
		font-size: 1.5rem;
	}

	.post-content h2 {
		font-size: 1.375rem;
	}

	h3 {
		font-size: 1.25rem;
	}

	/* The master theme formats these as display-inline, which prevents margins from collapsing.  */
	.page-content > h2 {
		display: block;
		margin-top: 3rem;
		margin-bottom: 1rem;
	}
}


