.issuuembed.issuu-isrendered {
	display: block;

	iframe {
		width: 100%;
		height: 450px;
		max-height: 100vh;
	}
}

.wp-block-embed-youtube {
	iframe {
		width: 100%;
	}
	
	figcaption {
		text-align: left;
		font-weight: 700;
	}
}
