.wp-block-group {
	&.is-style-background-1 {
		padding: 2em;
		background-color: var(--beige-100);
	}

	&.is-style-quote {
		padding-left: 1em;
		border-left: solid 4px var(--gp-green-400);
	}

	margin-top: 1rem;
	margin-bottom: 1rem;
}
