.wp-block-columns {
	.wp-block-column {
		&.is-style-background-1 {
			padding: 2em;
			background-color: var(--beige-100);
		}
	}
}

.page-content .wp-block-columns.is-style-petition-left {
	.wp-block-column {
		padding: 2rem 0;

		&.is-style-background-1 {
			padding: 2em;
			background-color: var(--beige-100);
		}
	}

	.wp-block-column:first-child {
		padding: 2rem 1rem;
		flex-basis: calc(33% - 16px);
		background-color: var(--beige-100);
	}

	.wp-block-column:nth-child(2) {
		flex-basis: calc(67% - 16px);
	}
}

.wp-block-column > .wp-block-image:first-child,
.wp-block-column > .wp-block-embed:first-child {
	margin-top: 0;
}


@media (max-width: 480px) {
	.wp-block-columns {
		.wp-block-column {
			&.is-style-background-1 {
				padding: 2em 1em;
			}
		}
	}
}
