.wp-block-button {
	margin-top: 2em;
	display: block;

	a {
		background-color: $color_standard_1;
		/*
			Master theme changes the button color after loading, only in Firefox.
			Couldn't find what exactly is happening, so now we use !important.
		*/
		color: $color_standard_1_font !important;
		text-decoration: none;

		font-size: 0.875rem;
		text-transform: uppercase;
		font-weight: 500;

		/* Remove default Gutenberg style for rounded corners */
		border-radius: 0;
	}

	a:hover {
		background-color: $color_standard_3;
		color: $color_standard_3_font;
	}

	/* File icons, e.g. PDF links */
	a:before {
		margin-right: .2em;
		color: $color_standard_1_font;
		background-color: $color_standard_1_font;
	}

	a:hover:before {
		color: $color_standard_3_font;
		background-color: $color_standard_3_font;
	}

	&.is-style-full-width,
	&.is-style-full-width a {
		width: 100%;
	}
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.wp-block-button {
			a {
				background-color: #{nth($colors_3, $i)};
				/*
					Master theme changes the button color after loading, only in Firefox.
					Couldn't find what exactly is happening, so now we use !important.
				*/
				color: #{nth($colors_3_font, $i)} !important;
			}

			a:hover {
				background-color: #{nth($colors_1, $i)};
				color: #{nth($colors_1_font, $i)};
			}

			a:before {
				color: #{nth($colors_3_font, $i)};
				background-color: #{nth($colors_3_font, $i)};
			}

			a:hover:before {
				color: #{nth($colors_1_font, $i)};
				background-color: #{nth($colors_1_font, $i)};
			}
		}
	}
}
