blockquote.wp-block-quote {
	max-width: none;
	padding: 0;
	padding-left: 1em;
	border-left: solid 2px $color_standard_1;

	font-size: 1rem;

	p {
		margin-top: 0;
		padding-top: 0;
		font-size: 1rem;
	}

	cite {
		font-weight: $font-weight-bold;
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		blockquote.wp-block-quote {
			border-left: solid 2px #{nth($colors_1, $i)};
		}
	}
}
