.wp-block-button {
	a {
		background-color: $color_standard_3;
		color: $color_standard_3_font;
		text-decoration: none;

		/* Remove default Gutenberg style for rounded corners */
		border-radius: 0;
	}

	a:hover {
		background-color: $color_standard_1;
		color: $color_standard_1_font;
	}

	/* File icons, e.g. PDF links */
	a:before {
		margin-right: .2em;
		color: $color_standard_3_font;
		background-color: $color_standard_3_font;
	}

	a:hover:before {
		color: $color_standard_1_font;
		background-color: $color_standard_1_font;
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.wp-block-button {
			a {
				background-color: #{nth($colors_3, $i)};
				color: #{nth($colors_3_font, $i)};
			}

			a:hover {
				background-color: #{nth($colors_1, $i)};
				color: #{nth($colors_1_font, $i)};
			}

			a:before {
				color: #{nth($colors_3_font, $i)};
				background-color: #{nth($colors_3_font, $i)};
			}

			a:hover:before {
				color: #{nth($colors_1_font, $i)};
				background-color: #{nth($colors_1_font, $i)};
			}
		}
	}
}
