
/* File upload fields */
.gform_wrapper.gravity-theme .gform_fileupload_rules {
	padding-top: 0;
	margin-top: 0;
}

/* Address and name fields */
.gform_wrapper.gravity-theme .ginput_complex label {
	padding-top: 2px;
	margin-bottom: 8px;
}

/* Positioning of checkboxes */
.custom-control input[type="checkbox"] ~ label::before {
	top: calc(50% - 9px);
}

/* Hide character counter for name fields */
input[autocomplete="given-name"] + div.charleft,
input[autocomplete="family-name"] + div.charleft {
	display: none;
}

/* Styles for multistep forms */
.gform_wrapper.gravity-theme {
	.gf_progressbar{
		background-color: var(--grey-200);
		border-radius: 4px;

		.gf_progressbar_percentage {
			background-color: var(--gp-green-800);
			border-radius: 4px;
		}
	}

	.gform-theme-button {
		/* Planet4 button styles */
		background: var(--button-secondary--background,var(--white));
		border-color: var(--button-secondary--border-color,var(--color-border-button--secondary));
		color: var(--button-secondary--color,var(--color-text-button--secondary)) !important;
		border-radius: var(--button--border-radius,4px);
		font-family: var(--button--font-family,var(--font-family-button));
		font-size: var(--button--font-size);
		font-weight: var(--button--font-weight,bold);
		padding: var(--button--padding,12px 28px);
		text-align: var(--button--text-align,center);
		transition-duration: var(--button--transition-duration,.15s);
		transition-property: var(--button--transition-property,color,background-color,border-color);
		transition-timing-function: var(--button--transition-timing-function,linear);

		&:hover {
			background: var(--button-secondary--hover--background,var(--color-background-button--secondary-hover));
			border-color: var(--button-secondary--hover--border-color,var(--p4-dark-green-800));
			color: var(--button-secondary--hover--color,var(--white)) !important;
		}
	}

	.gform_next_button {
		background: var(--button-primary--hover--background);
		border: var(--button-primary--hover--border,1px solid transparent);
		color: var(--button-primary--hover--color,var(--color-text-button--cta)) !important;

		&:hover {
			background: var(--button-primary--hover--background);
			border: var(--button-primary--hover--border,1px solid transparent);
			color: var(--button-primary--hover--color,var(--color-text-button--cta)) !important;
		}
	}
}

/* Same styles the master theme defines for .custom-control, but for the quiz plugin fields */
.gquiz-field {
	&:has(> input[type="checkbox"]) {
		position: relative;

		& > input[type="checkbox"] {
			position: absolute;
			pointer-events: none;
			width: 20px;
			height: 20px;
			top: 50% !important;
			transform: translateY(-50%);
			opacity: 0;

			& ~ label,
			& ~ .custom-control-description {
				padding-inline-start: 36px;
				font-family: var(--font-family-tertiary);
				cursor: pointer;

				a {
					color: inherit;
					font-weight: bold;
				}
			}
		}
	}

	input[type="radio"] {
		position: absolute;
		pointer-events: none;
		opacity: 0;

		&:focus:focus-visible ~ label:before,
		&:focus:focus-visible ~ .custom-control-description:before {
			outline: 2px solid #99c3ff;
			outline-offset: 1px;
			border-radius: 4px;
		}

		&:not(:disabled) ~ .custom-control-description:hover:before,
		&:not(:disabled) ~ label:hover:before {
			border-color: var(--grey-900);
		}

		& ~ .custom-control-description,
		& ~ label {
			_-- {
				font-size: 1rem;
				line-height: 1.25rem;
			}

			font-family: var(--font-family-paragraph-secondary);
			position: relative;
			cursor: pointer;
			padding-inline-start: 36px;

			a {
				color: inherit;
				font-weight: bold;
			}

			&:before {
				content: "";
				width: 20px;
				height: 20px;
				background: var(--white);
				border: 1px solid var(--grey-500);
				border-radius: 50%;
				left: 0;
				position: absolute;
				top: calc((100% - 20px) / 2);

				html[dir="rtl"] & {
					right: 0;
					left: auto;
				}
			}
		}

		&:checked ~ .custom-control-description:before,
		&:checked ~ label:before {
			background: var(--grey-900);
			box-shadow: inset 0 0 0 2px var(--white);
			border-color: var(--grey-900);
		}
	}
}
