body .gform_wrapper,
body .gform_confirmation_wrapper {
	background-color: $color_standard_2;
	padding: 1em;
	margin: 1em 0;

	h2, h3, h4 {
		font-weight: 700;
	}

	.gform_button,
	.gform_footer .gform_button,
	.gform_page_footer .gform_button,
	.gform_page_footer .gform_previous_button,
	.gform_page_footer .gform_next_button {
		border: 0;
		padding: .4rem 2rem;
		background-color: $color_standard_3;
		color: $color_standard_3_font;
		font-weight: 500;
		font-size: 0.875rem;
		text-transform: uppercase;
	}

	.gform_page_footer .gform_previous_button {
		background-color: $color_gray_dark;
		color: #fff;
	}

	.gform_button:hover,
	.gform_page_footer .gform_next_button:hover,
	.gform_footer .gform_button:hover,
	.gform_page_footer .gform_previous_button:hover {
		background-color: $color_standard_1;
		color: $color_standard_1_font;
		cursor: pointer;
	}

	.gform_body {
		input[type="checkbox"] {
			opacity: 1;
			position: static;
			margin-right: .5em;
		}

		input[type="radio"] {
			opacity: 1;
			position: static;
			margin-right: .5em;
		}
	}

	/* Remove the required icon from the title and display it next to the label */
	.gfield.privacy-field .gfield_label {
		display: none;
	}

	.gfield.privacy-field label::after {
		content: " *";
		color: #790000;
	}
}

/* GravityForms Polls Addon specific styles*/
body .gpoll_wrapper,
body #gforms_confirmation_message {
	.gpoll_field_label {
		margin-bottom: $margin-bottom-h3;
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		line-height: $line-height-h3;
		color: $color_gray_dark;
	}

	.gpoll_ratio_box,
	.gpoll_bar {
		background-color: #303133;
		color: $color_white;
	}

	.gpoll_ratio_box {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	.gpoll_bar {
		.gpoll_bar_juice {
			background-color: $color_standard_1;
			background-image: none;

			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;

			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;

			&::after {
				display: none;
			}
		}
	}

	.gpoll_bar_count {
		text-shadow: rgba(0, 0, 0, .3) 0px 0px 2px;
	}
}

/* not for petitions */
.is-style-petition-left .gform_wrapper {
	background-color: transparent;
	padding: 0;
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		/*background-color: #{nth($colors_1, $i)};*/
		/*
		body .gform_wrapper,
		body #gforms_confirmation_message {
			background-color: #{nth($colors_2, $i)};
		}
		*/
		
		/* not for petitions */
		.is-style-petition-left .gform_wrapper {
			background-color: transparent;
		}

		.gform_button {
			background-color: $color_standard_3;
			color: $color_standard_3_font
		}

		.gform_button:hover {
			background-color: $color_standard_1;
			color: $color_standard_1_font
		}
	}
}
