
/* File upload fields */
.gform_wrapper.gravity-theme .gform_fileupload_rules {
	padding-top: 0;
	margin-top: 0;
}

/* Address and name fields */
.gform_wrapper.gravity-theme .ginput_complex label {
	padding-top: 2px;
	margin-bottom: 8px;
}

/* Positioning of checkboxes */
.custom-control input[type="checkbox"] ~ label::before {
	top: calc(50% - 9px);
}

/* Hide character counter for name fields */
input[autocomplete="given-name"] + div.charleft,
input[autocomplete="family-name"] + div.charleft {
	display: none;
}

/* Styles for multistep forms */
.gform_wrapper.gravity-theme {
	.gf_progressbar{
		background-color: var(--grey-200);
		border-radius: 4px;

		.gf_progressbar_percentage {
			background-color: var(--gp-green-800);
			border-radius: 4px;
		}
	}

	.gform-theme-button {
		/* Planet4 button styles */
		background: var(--button-secondary--background,var(--white));
		border-color: var(--button-secondary--border-color,var(--color-border-button--secondary));
		color: var(--button-secondary--color,var(--color-text-button--secondary)) !important;
		border-radius: var(--button--border-radius,4px);
		font-family: var(--button--font-family,var(--font-family-button));
		font-size: var(--button--font-size,1rem);
		font-weight: var(--button--font-weight,bold);
		padding: var(--button--padding,12px 28px);
		text-align: var(--button--text-align,center);
		transition-duration: var(--button--transition-duration,.15s);
		transition-property: var(--button--transition-property,color,background-color,border-color);
		transition-timing-function: var(--button--transition-timing-function,linear);

		&:hover {
			background: var(--button-secondary--hover--background,var(--color-background-button--secondary-hover));
			border-color: var(--button-secondary--hover--border-color,var(--p4-dark-green-800));
			color: var(--button-secondary--hover--color,var(--white)) !important;
		}
	}

	.gform_next_button {
		background: var(--button-primary--hover--background,var(--color-background-button--primary-hover));
		border: var(--button-primary--hover--border,1px solid transparent);
		color: var(--button-primary--hover--color,var(--color-text-button--cta)) !important;

		&:hover {
			background: var(--button-primary--hover--background,var(--color-background-button--primary-hover));
			border: var(--button-primary--hover--border,1px solid transparent);
			color: var(--button-primary--hover--color,var(--color-text-button--cta)) !important;
		}
	}
}
