
/* File upload fields */
.gform_wrapper.gravity-theme .gform_fileupload_rules {
	padding-top: 0;
	margin-top: 0;
}

/* Address and name fields */
.gform_wrapper.gravity-theme .ginput_complex label {
	padding-top: 2px;
	margin-bottom: 8px;
}
