
/* File upload fields */
.gform_wrapper.gravity-theme .gform_fileupload_rules {
	padding-top: 0;
	margin-top: 0;
}

/* Address and name fields */
.gform_wrapper.gravity-theme .ginput_complex label {
	padding-top: 2px;
	margin-bottom: 8px;
}

/* Positioning of checkboxes */
.custom-control input[type="checkbox"] ~ label::before {
	top: calc(50% - 9px);
}

/* Hide character counter for name fields */
input[autocomplete="given-name"] + div.charleft,
input[autocomplete="family-name"] + div.charleft {
	display: none;
}
