h2 {
	color: $color_standard_1;
	margin-top: 3rem;
}

h3 {
	font-size: 1.5rem;
	font-weight: 700;
}

h2 + h3 {
	margin-top: -1.5rem;
	margin-bottom: 1.5rem;
}

.page-header-title {
	font-size: 8rem;
	line-height: .8;
	color: $color_forest_1;
	text-transform: uppercase;
}

/* Forest */
body.tag-wald {
	h2 {
		color: $color_forest_1;
	}
}

/* Climate */
body.tag-klima {
	h2 {
		color: $color_climate_1;
	}
}


h2.is-style-underline:after,
h3.is-style-underline:after {
    content: "";
    display: block;
    position: relative;
    top: .8rem;
    left: -80px;
    height: 2px;
    width: 160px;
    margin-bottom: 3rem;
    background-color: $color_standard_3;
}

h3.is-style-underline:after {
    background-color: $color_standard_2;
}

h2.is-style-block,
h3.is-style-block {
    display: inline-block;
    position: relative;
    left: -80px;
    padding: .4rem 160px .4rem 80px;
    background-color: $color_standard_2;
}

h3 {
    color: $color_standard_3;
}

h2 + h3 {
    margin-top: -2rem;
}

/* Forest */
body.tag-wald {
    h2.is-style-underline:after {
        $background-color: $color_forest_3;
    }

    h3.is-style-underline:after {
        background-color: $color_forest_2;
    }

    h2.is-style-block,
    h3.is-style-block {
        background-color: $color_forest_2;
    }

    h3 {
        color: $color_forest_3;
    }
}

/* Climate */
body.tag-klima {
    h2.is-style-underline:after {
        $background-color: $color_climate_3;
    }

    h3.is-style-underline:after {
        background-color: $color_climate_2;
    }

    h2.is-style-block,
        h3.is-style-block {
            background-color: $color_climate_2;
        }

    h3 {
        color: $color_climate_3;
    }
}
