.carousel-header_full-width-classic {
	.carousel-item {
		/* Hide gray overlay */
		.background-holder::after {
			display: none;
		}

		.carousel-caption {
			.caption-overlay {
				display: none;
			}

			.main-header {
				padding-top: 120px;

				h1 {
					font-size: 2rem;
					color: $color_gray_dark;
				}

				p {
					margin: 0;
					color: $color_gray_dark;
				}
			}

			.carousel-captions-wrapper {
				width: auto;
				max-width: 500px;
				margin: 0 0 1em 0;
				padding: 1em 2em;
				background-color: #fff;
			}

			.btn-primary {
				background-color: $color_standard_1;
				border: 0;
				color: $color_standard_1_font;
			}

			.btn-primary:hover {
				background-color: $color_standard_3;
				border: 0;
				color: $color_standard_3_font;
			}
		}
	}

	.carousel-indicators {
		li {
			background-color: #fff;
		}

		li.active {
			background-color: $color_standard_1;
		}
	}

	.main-header p {
		margin: 0;
		color: $color_gray_dark;
	}
}

@include media('<=desktop') {
	.carousel-header_full-width-classic {
		.carousel-item {
			.carousel-caption {
				.main-header {
					padding-top: 0;
				}
			}
		}

		.carousel-indicators {
			li {
				background-color: $color_gray_dark;
			}
		}
	}
}
