.four-column-content {
	.post-column {
		max-width: 25%;
	}

	.four-column-content-wrap {
		.four-column-content-symbol {
			box-shadow: none;
		}

		.four-column-content-info {
			a {
				color: $color_gray_dark;

				&:hover,
				h4.four-column-hover {
					color: $color_standard_3;
				}
			}
		}

		.four-column-content-information {
			h4,
			.publication-date {
				margin-bottom: .4em;
			}
		}
	}
}

@include media('<=tablet') {
	.four-column-content {
		.post-column {
			max-width: 100%;
		}
	}
}