
.page-template .cover-card a.btn {
	margin-bottom: 0;
}

/* Correct hover behavior from master theme */
.cover-card:hover .btn {
	background: var(--button-primary--background, #73BE1E);
	color: var(--button-primary--color, #fff);
}
.cover-card {
	a.btn {

		&:hover {
			background: var(--button-primary--hover--background, #00573a);
			color: var(--button-primary--hover--color, #fff);
		}
	}
}


.cover-card {
	img {
		border-bottom: solid 3px $color_standard_1;
	}

	.cover-card-content {
		padding-top: 24px;
	}
}


@include media('<=desktop') {

}


@include media('<=tablet') {

}


/* CTA cover in post when used as a block */
.post-content {
	.cover-card:not(.single-cover) {
		float: none;
	}

	.covers-block .cover-card-column {
		max-width: none;
	}
}

/* correct margins when CTA blocks appear after a separator */
.wp-block-separator + .covers-block {
	margin-top: 0;
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		&.cover-card:hover .btn {
			background: #{nth($colors_1, $i)};
			color: #{nth($colors_1_font, $i)};
		}

		&.cover-card {
			img {
				border-bottom: solid 4px #{nth($colors_1, $i)};
			}

			a.btn {
				background: #{nth($colors_1, $i)};
				color: #{nth($colors_1_font, $i)};

				&:hover {
					background: #{nth($colors_2, $i)};
					color: #{nth($colors_2_font, $i)};
				}
			}
		}
	}
}
