/*
Master theme styles include a confusing hover behavior that sets button hover colors when the cursor hovers over the element, not just the button.
We reset the same style for hover and non-hover to get back expected behavior, then add back hover state for the button.
 */
body .boxout,
body .boxout:hover {
	margin-bottom: 2rem;
	flex-wrap: wrap;

	.boxout-content {
		width: calc(100% - 340px);
	}

	.boxout-excerpt {
		font-size: 1rem;

		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.boxout-heading,
	.boxout-excerpt {
		line-height: 1.5;
	}

	.btn {
		/* Reset funky master theme positioning */
		position: relative;
		right: auto;
		bottom: 4em;
		left: 356px;

		margin-bottom: 0;

		background: var(--button-primary--background, #73BE1E);
		color: var(--button-primary--color, #fff);

		font-size: 14px;
		line-height: 1.5;

		&:hover {
			background: var(--button-primary--hover--background, #00573a);
			color: var(--button-primary--hover--color, #fff);
		}
	}
}

body .boxout.collapse:not(.show) {
	display: none;
}

body .boxout.sticky-bottom-mobile {
	display: block;
	margin-bottom: 0;

	img {
		float: left;
		margin-right: 1rem;
	}

	.boxout-content {
		padding-left: 1rem;

		.boxout-excerpt {
			display: none;
		}
	}

	.btn {
		margin-left: 1rem;
	}
}

@media (max-width: $extra-large-width) {
	body .boxout,
	body .boxout:hover {
		height: 220px;
		padding-bottom: 1em;

		img {
			width: 250px;
			height: 220px;
		}
	}
}

@media (max-width: $large-width) {
	body .boxout,
	body .boxout:hover {
		img {
			width: 220px;
			height: 100%;
		}

		.boxout-content {
			.boxout-excerpt {
				padding-left: 0;
				font-size: .875rem;
				-webkit-line-clamp: 3;
			}
		}

		.boxout-heading {
			font-size: 1.125rem;
		}

		.btn {
			margin-top: 1em;
			margin-left: 2em;
			left: 202px;
		}
	}
}


@include media('<=tablet') {
	body .boxout,
	body .boxout:hover {
		height: auto;
		padding-bottom: 1em;

		img {
			width: 160px;
			min-width: 160px;
			height: 160px;
		}

		.boxout-content {
			width: calc(100% - 160px);
			padding-top: 0;

			.boxout-heading {
				margin-bottom: .5em;
			}

			.boxout-excerpt {
				-webkit-line-clamp: 2;
			}
		}

		.btn {
			margin-left: 0;
			margin-top: -3em;
			right: auto;
			bottom: auto;
			left: 170px;
			height: 38px;
		}
	}

	body .boxout.sticky-bottom-mobile {
		img {
			width: 120px;
			height: 120px;
		}
	}
}

@media (max-width: 480px) {
	body .boxout,
	body .boxout:hover {
		img {
			width: 120px;
			height: 120px;
			min-width: auto;
		}

		.boxout-content {
			width: calc(100% - 120px);

			.boxout-excerpt {
				display: none;
			}
		}

		.btn {
			margin-left: 0;
			left: 128px;
			margin-top: -3em;
		}
	}

	body .boxout.sticky-bottom-mobile {
		img {
			width: 120px;
			height: 120px;
		}
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.boxout,
		.boxout:hover {
			.btn {
				background: #{nth($colors_1, $i)};
				color: #{nth($colors_1_font, $i)};

				&:hover {
					background: #{nth($colors_2, $i)};
					color: #{nth($colors_2_font, $i)};
				}
			}
		}
	}
}
