.campaign-covers-block {
	.thumbnail-largeview-container {
		/* remove gray overlay */
		.thumbnail-large::before {
			display: none;
		}

		.thumbnail-large:hover::before {
			display: block;
			opacity: 1;
			background-color: $color_hover_overlay;
		}

		.thumbnail-large .yellow-cta {
			display: inline-block;
			bottom: 1em;
			width: auto;
			margin: 0 0 0 1em;
			padding: .2em 1em;
			background-color: #fff;

			color: $color_standard_1;
			text-shadow: none;
		}

		a:hover {
			.thumbnail-large .yellow-cta {
				background-color: $color_standard_3;
				color: $color_standard_3_font;
			}
		}
	}
}

/* No top margin if right next to a GPCH taskforce block */
.gpch-taskforce-banner-wrapper + .campaign-covers-block{
	margin-top: -4px;
}


/* Color Schemes */
.campaign-covers-block{
	.thumbnail-largeview-container {
		@for $i from 1 through length($schema_names) {
			#{nth($selectors, $i)} {
				.thumbnail-large .yellow-cta {
					color: #{nth($colors_1, $i)};;
				}

				a:hover {
					.thumbnail-large .yellow-cta {
						background-color: #{nth($colors_3, $i)};;
						color: #{nth($colors_3_font, $i)};;
					}
				}
			}
		}
	}
}
