.article-list-item-content {
	font-weight: 400;
}

.article-list-item .top-page-tags .tag-item {
	color: $color_standard_1;
}

body .page-template {
	.article-list-item-headline a,
	.article-list-item-author a {
		color: $color_gray_dark;
	}

	.article-list-item-headline a:hover {
		color: $color_standard_3;
	}
}

/* correct margins when articles appear after a separator */
.wp-block-separator + .articles-block {
	margin-top: 0;
}

/*
	Remove images for press-releases
	Only works on page for press releases at the moment
*/
.page-id-501 .article-list-item-image {
	display: none;
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		&.article-list-item .top-page-tags .tag-item {
			color: #{nth($colors_1, $i)};
		}
	}
}
