.timeline-block {
	.tl-text .tl-headline-date,
	.tl-text h3.tl-headline-date {
		color: $color_gray_dark;
	}

	.tl-text .tl-text-content p {
		font-family: $font-family;
		color: $color_gray_dark;
		font-size: 1rem;
		font-weight: 400;
		line-height: 1.5;
	}

	.tl-slidenav-title,
	.tl-slidenav-description {
		display: none;
	}

	.tl-slidenav-previous .tl-slidenav-icon::before,
	.tl-slidenav-next .tl-slidenav-icon::before {
		background-image: none;
	}
}

