/*
    Master theme styles use a lot of text trimming to fit the content in their design. Most modifications are to
    prioritize presenting the content correctly.
 */

body .boxout {
    display: grid;
    grid-template-columns: 1fr 1fr;
    column-gap: 24px;
    height: auto;
    margin-bottom: 2rem;
    padding: 0;

    img {
        grid-column-start: 1;
        grid-column-end: 1;
        grid-row-start: 1;
        grid-row-end: 3;

        width: 100%;
        max-height: 240px;
    }

    .boxout-heading {
        margin-bottom: .5rem;
        -webkit-line-clamp: 4;
    }

    .boxout-content {
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 1;
        grid-row-end: 1;

        padding: 1rem 1rem 0 0;
        padding-bottom: 1rem;

        .boxout-excerpt {
            -webkit-line-clamp: 3;
            display: block;
            margin-bottom: 0;

            font-size: var(--gpch-font-size-smaller);
            line-height: var(--gpch-line-height-standard);
        }
    }

    .btn {
        position: relative;
        bottom: auto;
        right: auto;
        margin: 1rem 1rem 1rem 0;
        grid-column-start: 2;
        grid-column-end: 2;
        grid-row-start: 2;
        grid-row-end: 2;
    }
}

@media (max-width: 769px) {
    body .boxout {
        img {
            margin: 1rem;
            padding-right: 1rem;
            height: calc(100% - 2rem);
        }

        .boxout-heading {
            font-size: var(--gpch-font-size--larger);
        }
    }
}

@media (max-width: 540px) {
    body .boxout {
        grid-template-columns: 144px 1fr;

        img {
            height: 128px;
            width: 128px;
            padding: 0;
        }

        .btn {
            padding: 0;
        }
    }
}

@media (max-width: 400px) {
    body .boxout {
        grid-template-columns: 112px 1fr;

        img {
            height: 96px;
            width: 96px;
        }

        .boxout-content {
            .boxout-excerpt {
                display: none;
            }
        }
    }
}


/*
body .boxout,
body .boxout:hover {
	margin-bottom: 2rem;
	flex-wrap: wrap;

	.boxout-content {
		width: calc(100% - 340px);
	}

	.boxout-excerpt {
		font-size: 1rem;

		-webkit-line-clamp: 3;
		display: -webkit-box;
		-webkit-box-orient: vertical;
		overflow: hidden;
	}

	.boxout-heading,
	.boxout-excerpt {
		line-height: 1.5;
	}

	.btn {
		/* Reset funky master theme positioning */
/*
		position: relative;
		right: auto;
		bottom: 4em;
		left: 356px;

		margin-bottom: 0;

		background: var(--button-primary--background, #73BE1E);
		color: var(--button-primary--color, #fff);

		font-size: 14px;
		line-height: 1.5;

		&:hover {
			background: var(--button-primary--hover--background, #00573a);
			color: var(--button-primary--hover--color, #fff);
		}
	}
}
*/
/*
body .boxout.collapse:not(.show) {
	display: none;
}

body .boxout.sticky-bottom-mobile {
	display: block;
	margin-bottom: 0;

	img {
		float: left;
		margin-right: 1rem;
	}

	.boxout-content {
		padding-left: 1rem;

		.boxout-excerpt {
			display: none;
		}
	}

	.btn {
		margin-left: 1rem;
	}
}

@media (max-width: $extra-large-width) {
	body .boxout,
	body .boxout:hover {
		height: 220px;
		padding-bottom: 1em;

		img {
			width: 250px;
			height: 220px;
		}
	}
}

@media (max-width: $large-width) {
	body .boxout,
	body .boxout:hover {
		img {
			width: 220px;
			height: 100%;
		}

		.boxout-content {
			.boxout-excerpt {
				padding-left: 0;
				font-size: .875rem;
				-webkit-line-clamp: 3;
			}
		}

		.boxout-heading {
			font-size: 1.125rem;
		}

		.btn {
			margin-top: 1em;
			margin-left: 2em;
			left: 202px;
		}
	}
}


@include media('<=tablet') {
	body .boxout,
	body .boxout:hover {
		height: auto;
		padding-bottom: 1em;

		img {
			width: 160px;
			min-width: 160px;
			height: 160px;
		}

		.boxout-content {
			width: calc(100% - 160px);
			padding-top: 0;

			.boxout-heading {
				margin-bottom: .5em;
			}

			.boxout-excerpt {
				-webkit-line-clamp: 2;
			}
		}

		.btn {
			margin-left: 0;
			margin-top: -3em;
			right: auto;
			bottom: auto;
			left: 170px;
			height: 38px;
		}
	}

	body .boxout.sticky-bottom-mobile {
		img {
			width: 120px;
			height: 120px;
		}
	}
}

@media (max-width: 480px) {
	body .boxout,
	body .boxout:hover {
		img {
			width: 120px;
			height: 120px;
			min-width: auto;
		}

		.boxout-content {
			width: calc(100% - 120px);

			.boxout-excerpt {
				display: none;
			}
		}

		.btn {
			margin-left: 0;
			left: 128px;
			margin-top: -3em;
		}
	}

	body .boxout.sticky-bottom-mobile {
		img {
			width: 120px;
			height: 120px;
		}
	}
}
*/