.posts-list.is-custom-layout-grid {
	.wp-block-post-featured-image a {
		height: 375px;

		img {
			height: 100%;
			max-width: 262px;
		}
	}

	.posts-list-meta {
		margin: 0.2em 0;

		.taxonomy-category {
			display: none;
		}
	}

	.wp-block-post-title {
		margin-top: 0;
		margin-bottom: 24px;
	}

	.wp-block-post-excerpt p {
		line-clamp: 5;
		--webkit-line-clamp: 5;
	}


	.wp-block-post-author-name {
		display: none;
	}
}

.posts-list.is-custom-layout-list {
	.article-list-item-author {
		&::after {
			margin-top: -.5rem;
			line-height: 1em;
		}
	}
}

/* Related posts */
body.single section.post-articles-block .posts-list.is-custom-layout-list {
	.taxonomy-category {
		display: none;
	}

	.taxonomy-post_tag:before {
		display: none;
	}
}

@media (max-width: 767px) {
	.posts-list.is-custom-layout-grid {
		 .wp-block-post-template {
			 grid-template-columns: repeat(2,minmax(0,1fr));
		 }

		.posts-list-meta,
		.wp-block-post-excerpt {
			display: none;
		}
	}
}
