.actions-list {
	/* Remove title if empty */
	> h2:empty {
		display: none;
	}

	.wp-block-post-terms {
		display: none;
	}

	.wp-block-post-featured-image + .wp-block-group {
		padding-top: 8px;
	}

	li h2 {
		&::after {
			display: none !important;
		}
	}

	.wp-block-post-excerpt p {
		line-clamp: 5;
		-webkit-line-clamp: 5;
	}

	.read-more-nav {
		margin-bottom: 0;
	}

	.load-more-actions-container {
		margin-top: 1em;
	}
}
