.wp-block-media-text.alignfull.is-pattern-p4-page-header {
    padding-top: 0;

    .wp-block-media-text__media img {
        transform: none !important;
    }
}

.wp-block-media-text.alignfull.has-media-on-the-right.is-pattern-p4-page-header {
	.wp-block-heading.has-background {
		padding-inline-start: 0;
	}
}

