#comments {
    max-width: 776px;

    .logged-in-as {
        position: relative;
        top: auto;
        right: auto;
    }
}

@include media('<=desktop') {
    #comments {
        max-width: none;
    }
}
