.page-template {
	a.btn {
		margin-bottom: 2em;
	}
}

iframe {
	max-width: 100%;
}

/* Social Warfare */
.swp_social_panel.swp_horizontal_panel {
	margin-top: 4rem !important;
}

/* When the buttons are floating, there's no need for a big margin */
.nc_wrapper.swp_floating_horizontal_wrapper .swp_social_panel.swp_horizontal_panel {
	margin-top: .5rem !important;
}
