.page-template {
	a.btn {
		margin-bottom: 2em;
	}
}

iframe {
	max-width: 100%;
}

/* Social Warfare */
.swp_social_panel a {
	color: #fff !important; /* otherwise the icons will use the tag color scheme color */
}

.swp_social_panel.swp_horizontal_panel {
	margin-top: 4rem !important;
}

/* When the buttons are floating, there's no need for a big margin */
.nc_wrapper.swp_floating_horizontal_wrapper .swp_social_panel.swp_horizontal_panel {
	margin-top: .5rem !important;
}

/* Column Block */
.wp-block-column {
	margin-bottom: 1em;
}

/* Button Block */
.wp-block-button {
	margin-bottom: 1.5em;
}

/* Planet4 Buttons */
.btn-secondary,
.post-content .more-link,
.post-content .page-links a {
	border: none;

	/* same as ../blocks/_core_button.scss */
	color: $color_standard_1_font;
	background-color: $color_standard_1;
}

/* Remove Planet4 default button formatting */
[class="wp-block-button"] a {
	width: auto;
	border: 0;
}

.btn-secondary:focus,
.btn-secondary:hover,
.post-content .more-link:focus,
.post-content .more-link:hover,
.post-content .page-links a:focus,
.post-content .page-links a:hover {
	/* same as ../blocks/_core_button.scss */
	color: $color_standard_3_font;
	background-color: $color_standard_3;
}

/* Other buttons (newsletter form, ...) */
.btn-accent {
	background-color: $color_standard_1;
	color: $color_standard_1_font;
	font-size: 0.875rem;
	text-transform: uppercase;
	font-weight: 500;
}

.btn-accent:hover {
	background-color: $color_standard_3;
	color: $color_standard_3_font;
}

/* Remove nowrap from external links */
a.external-link {
	white-space: inherit;
}

/* Cookie Bar */
#set-cookie {
	background: none;
	background-color: $color_standard_2;
	color: $color_standard_2_font;
	min-height: 48px;
	padding: 12px 36px;

	.btn {
		background-color: $color_standard_3;
		color: $color_standard_3_font;
	}
}

/* show / hide elements based on screen size */
@include media('<tablet') {
	.hide-mobile {
		display: none;
	}
}

@include media('>=tablet', '<desktop') {
	.hide-tablet {
		display: none;
	}
}

@include media('>=desktop') {
	.hide-desktop {
		display: none;
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.btn-accent {
			background-color: #{nth($colors_1, $i)};
			color: #{nth($colors_1_font, $i)};
		}

		.btn-accent:hover {
			background-color: #{nth($colors_3, $i)};
			color: #{nth($colors_3_font, $i)};
		}
	}
}

/* Remove button focus border from Bootstrap */
.btn-primary.focus,
.btn-primary:focus,
.btn-primary:not(:disabled):not(.disabled).active:focus,
.btn-primary:not(:disabled):not(.disabled):active:focus,
.show > .btn-primary.dropdown-toggle:focus {
	box-shadow: none;
}

