body .site-footer {
	margin-top: 10rem;
	background-color: $color_green_light;
	color: $color_gray_dark;

	a {
		/* Have to use important because it's also done in the master theme */
		color: $color_gray_dark !important;
	}

	a:hover {
		color: $color_green_dark;
	}

	.footer-social-media {
		justify-content: center;
	}

	.footer-links li::after,
	.footer-links-secondary li::after {
		content: "\7c";
		color: $color_gray_dark;
		margin: 0 .5em;
	}

	.footer-links-secondary {
		font-size: .8rem;
	}

	.copyright-text,
	.gp-year {
		/* Have to use important because it's also done in the master theme */
		color: $color_gray_dark !important;
	}
}


@include media('<=desktop') {
	body .site-footer {
		.footer-links,
		.footer-links-secondary {
			margin: 1em 0;
			line-height: 2;
		}

		.footer-links li::after,
		.footer-links-secondary li::after {
			content: "";
		}
	}
}