/* Remove the Planet4 style header styles */
.page-template-evergreen .page-header .page-header-background {
	opacity: 1;
}

.skewed-overlay,
.page-template-evergreen .skewed-overlay {
	display: none
}

.page-header-background {
	position: static;
}

.white-bg .page-header-background::after,
.brown-bg .page-header-background::after {
	display: none;
}

.page-header {
	padding: 0;
	margin-bottom: 4rem;
}

/* Now style our header (pages only) */
body.page .page-header {
	position: relative;
	width: 100%;
	max-width: $header_width;
	margin: 60px auto 0 auto;

	.page-header-background {
		height: 70vh;
		max-height: 600px;
		overflow: hidden;
	}

	.container {
		position: absolute;
		top: 100px;
		right: 40px;
		max-width: 400px;

		.page-header-content {
			display: block;
			width: 100%;
			max-width: none;
			padding: .5em;

			background-color: $color_standard_2;

			font-family: Roboto, sans-serif;
			color: #fff;
			font-weight: 700;
			line-height: 1.4;

			p {
				margin: 0;
				display: block;
				width: 100%
			}
		}

		.page-header-btn {
			display: block;
			width: 100%;
			max-width: none;
			margin-top: 1em;

			background-color: $color_standard_1;
			color: $color_standard_1_font;
			font-weight: 700;
			letter-spacing: 0.07em;
		}

		.page-header-btn:hover {
			background-color: $color_standard_2;
			border: none;
		}
	}

	.page-header-title {
		margin: 1rem 0 4rem 0;
		font-size: 5rem;
		line-height: .8;
		color: $color_standard_1;
		text-transform: uppercase;

		&.long-title {
			font-size: 4rem;
		}
	}

	/* move the h1 header down if no header image is set */
	.container:first-child + .page-header-title {
		margin-top: 2em;
	}
}

.container > .page-header-title {
	margin-top: 1rem;
}

@include media('<=phone') {
	.page-header {
		.page-header-background {
			height: auto;

		}

		.container {
			right: 0;
			position: static;
			top: auto;
			right: auto;
			left: auto;

			.page-header-btn {
				font-size: .8rem;
			}
		}

		.page-header-title {
			margin: 3rem 15px;
			font-size: 4rem;
		}
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.page-header {
			.container {
				.page-header-content {
					background-color: #{nth($colors_2, $i)};
				}

				.page-header-btn {
					background-color: #{nth($colors_1, $i)};
				}

				.page-header-btn:hover {
					background-color: #{nth($colors_2, $i)};
				}
			}

			.page-header-title {
				color: #{nth($colors_1, $i)};
			}
		}
	}
}
