/* Remove the Planet4 style header styles */
.page-template-evergreen .page-header .page-header-background {
	opacity: 1;
}

.skewed-overlay,
.page-template-evergreen .skewed-overlay {
	display: none
}

.page-header-background {
	position: static;
}

.white-bg .page-header-background::after,
.brown-bg .page-header-background::after {
	display: none;
}

.page-header {
	padding: 0;
	margin-bottom: 4rem;
}

/* remove the page header when the noheader template is selected */
body.noheader {
	.page-header {
		display: none;
	}

	.page-template {
		margin-top: 60px;
	}
}

/* Now style our header (pages only) */
body.tag .page-header,
body.page .page-header {
	position: relative;
	width: 100%;
	max-width: $header_width;
	margin: 60px auto 0 auto;

	.page-header-background {
		max-height: 70vh;
		overflow: hidden;
	}

	.container {
		position: absolute;
		top: 100px;
		right: 40px;
		max-width: 400px;
	}

	/* move the h1 header down if no header image is set */
	.container:first-child + .page-header-title {
		margin-top: 2em;
	}
}

/* H1 title  */
.page-header {
	.page-header-title {
		margin: 1rem 0 4rem 0;
		font-size: 5rem;
		line-height: 1;
		color: $color_standard_1;
		text-transform: uppercase;

		&.long-title {
			font-size: 4rem;
		}
	}

	.container {
		.page-header-content {
			display: block;
			width: 100%;
			max-width: none;
			padding: .5em;

			background-color: $color_standard_2;

			font-family: Roboto, sans-serif;
			color: $color_standard_2_font;
			font-weight: 700;
			line-height: 1.4;

			p {
				margin: 0;
				display: block;
				width: 100%
			}
		}

		.page-header-btn {
			display: block;
			width: 100%;
			max-width: none;
			margin-top: 1em;

			background-color: $color_standard_1;
			color: $color_standard_1_font;
			font-weight: 700;
			letter-spacing: 0.07em;
		}

		.page-header-btn:hover {
			background-color: $color_standard_2;
			olor: $color_standard_2_font;
			border: none;
		}
	}
}

.container > .page-header-title {
	margin-top: 1rem;
}


@include media('<=tablet') {
	body.tag .page-header,
	body.page .page-header {
		.page-header-background {
			height: auto;

		}

		.container {
			right: 0;
			position: static;
			top: auto;
			right: auto;
			left: auto;
			bottom: 1em;

			.page-header-btn {
				font-size: .8rem;
			}
		}

		.page-header-title {
			margin: 1rem 15px 4rem 15px;
			font-size: 3rem;
		}
	}
}

/* Posts Header */
.single-gpch_archived_post .page-header,
.single-gpch_job .page-header,
.single-post .page-header {
	padding-bottom: 0;

	.single-post-meta {
		margin-bottom: 2rem;
	}

	.post-header-image {
		max-width: 65%;
		height: auto;
	}

	.page-header-title {
		font-size: 3.5rem;
	}

	.top-page-tags a {
		color: $color_gray_dark;
	}

	.top-page-tags a:hover {
		color: $color_standard_1;
	}

	.top-page-tags .tag-item--main + .tag-wrap::before, .top-page-tags .tag-wrap + .tag-wrap::before {
		color: $color_standard_1;
	}
}

/* Other content types without a header image */
.single-gpch_archived_post .page-header,
.single-gpch_job .page-header,
body.author .page-header,
body.archive.tax-p4-page-type .page-header {
	margin-top: 144px;
}

@include media('<=desktop') {
	.single-gpch_archived_post .page-header,
	.single-gpch_job .page-header,
	.single-post .page-header {
		.page-header-title {
			font-size: 3rem;
			margin-bottom: 2rem;
		}

		.post-header-image {
			max-width: 100%;
		}
	}
}

@include media('<=tablet') {
	.single-gpch_archived_post .page-header,
	.single-gpch_job .page-header,
	.single-post .page-header {
		.page-header-title {
			font-size: 2rem;
			margin-bottom: 2rem;
		}

		.post-header-image {
			max-width: 100%;
		}
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.page-header {
			.container {
				.page-header-content {
					background-color: #{nth($colors_2, $i)};
					color: #{nth($colors_2_font, $i)};
				}

				.page-header-btn {
					background-color: #{nth($colors_1, $i)};
					color: #{nth($colors_1_font, $i)};
				}

				.page-header-btn:hover {
					background-color: #{nth($colors_2, $i)};
					color: #{nth($colors_2_font, $i)};
				}
			}

			.page-header-title {
				color: #{nth($colors_1, $i)};
			}
		}
		
		/* Posts Header */
		&.single-post .page-header {
			.top-page-tags a:hover {
				color: #{nth($colors_1, $i)};
			}

			.top-page-tags .tag-item--main + .tag-wrap::before, .top-page-tags .tag-wrap + .tag-wrap::before {
				color: #{nth($colors_1, $i)};
			}
		}
	}
}
