body {
	font-family: Roboto, sans-serif;
}


body {
	&:not(.wp-admin) {
		&.brown-bg {
			background-color: $color_white;
		}
	}
}

body .top-navigation {
	background-color: rgba(255, 255, 255, .9);

	a {
		color: $color_gray_dark;
	}

	.navbar-dropdown .active .nav-link {
		color: $color_standard_1;
		border-bottom-color: $color_standard_1;
	}

	a:hover {
		color: $color_standard_3;
	}
}

.navbar-dropdown {
	.nav-link {
		font-weight: bold;
	}

	.nav-link:active,
	.nav-link:focus,
	.nav-link:hover {
		border-color: $color_standard_3;
	}
}

.country-dropdown-toggle {
	display: none;
}


@include media('<=desktop') {
	.post-content .container {
		padding-left: 0;
		padding-right: 0;
	}
}