body {
	font-family: Roboto, sans-serif;
}

body.brown-bg {
	background-color: $color_white;
}

.top-navigation {
	background-color: rgba(255, 255, 255, .9);

	a {
		color: $color_gray_dark;
	}

	a:hover {
		color: $color_standard_3;
	}
}

.navbar-dropdown {
	.nav-link {
		font-weight: bold;
	}

	.nav-link:active,
	.nav-link:focus,
	.nav-link:hover {
		border-color: $color_standard_3;
	}
}

.country-dropdown-toggle {
	display: none;
}

/* Remove the Planet4 style header styles */
.page-template-evergreen .page-header .page-header-background {
	opacity: 1;
}

.skewed-overlay,
.page-template-evergreen .skewed-overlay {
	display: none
}

.page-header-background {
	position: static;
}

.white-bg .page-header-background::after,
.brown-bg .page-header-background::after {
	display: none;
}

.page-header {
	padding: 0;
	margin-bottom: 4rem;
}

/* Now style our header */
.page-header {
	position: relative;
	width: 100%;
	max-width: $header_width;
	margin: 60px auto 0 auto;

	.page-header-background {
		height: 70vh;
		max-height: 600px;
		overflow: hidden;
	}

	.container {
		position: absolute;
		top: 100px;
		right: 40px;
		max-width: 400px;

		.page-header-content {
			display: block;
			width: 100%;
			max-width: none;
			padding: .5em;

			background-color: $color_standard_2;

			font-family: Roboto, sans-serif;
			color: #fff;
			font-weight: 700;
			line-height: 1.4;

			p {
				margin: 0;
				display: block;
				width: 100%
			}
		}

		.page-header-btn {
			display: block;
			width: 100%;
			max-width: none;
			margin-top: 1em;

			background-color: $color_standard_1;
			color: #fff;
			font-weight: 700;
			letter-spacing: 0.07em;
		}

		.page-header-btn:hover {
			background-color: $color_standard_2;
			border: none;
		}
	}

	.page-header-title {
		margin: 1rem 0 4rem 0;
		font-size: 8rem;
		line-height: .8;
		color: $color_forest_1;
		text-transform: uppercase;
	}
}


@include media('<=phone') {
	.page-header {
		.page-header-background {
			height: auto;

		}

		.container {
			right: 0;
			position: static;
			top: auto;
			right: auto;
			left: auto;

			.page-header-btn {
				font-size: .8rem;
			}
		}

		.page-header-title {
			margin: 3rem 15px;
			font-size: 4rem;
		}
	}
}

/* Dont' display tags on pages */
body.page .top-page-tags {
	display: none;
}

.container > .page-header-title {
	margin-top: 1rem;
}
