/* Archive pages */
.archive.tax-p4-page-type {
	.listing-page-title {
		display: none !important;
	}
}

/* Layout selector button */
.listing-page-title .layout-button-ctn {
	display: none;
}

/* Posts page */
.listing-page-title {
	.listing-page-filters {
		.listing-page-select:nth-child(2) {
			display: none;
		}
	}
}
