body.archive {
	.query-list-item-body {
		margin-top: 0;
	}

	.query-list-item-post-terms {
		a {
			color: $color_standard_1;

			&:hover {
				color: $color_standard_3;
			}
		}

		/* Bullet separator */
		.wrapper-post-term:not(:-moz-only-whitespace) ~ .wrapper-post-tag:not(:-moz-only-whitespace)::before {
			color: $color_gray_dark;
		}
	}

	.query-list-item-headline {
		font-size: 1.5rem;
		font-weight: 500;

		a {
			color: $color_gray_dark;

			&:hover {
				color: $color_standard_3;
			}
		}
	}
}

/* Color Schemes */
body.archive {
	@for $i from 1 through length($schema_names) {
		#{nth($selectors, $i)} {
			.query-list-item-post-terms {
				a {
					color: #{nth($colors_1, $i)};
				}
			}
		}
	}
}
