.top-navigation {
    font-family: var(--gpch--font-family-standard-heavy);

    .nav-item {
        font-weight: var(--gpch--font-weight--bold);
    }
}

#search_form {
    margin-bottom: 0;
}

.nav-languages-toggle {
    text-transform: uppercase;

    .nav-languages {
        text-transform: none;
    }
}
