.top-navigation.navbar {
	.navbar-content {
		width: 100%;
		max-width: $header_width;
		margin: 0 auto;
		display: flex;

		.btn-navbar-toggle {
			background-color: $color_standard_3;
		}

		.navbar-dropdown {
			width: 100%;

			.nav-item {
				a.highlight {
					padding: 0 1em;
					color: $color_donate;
					font-weight: 700;
				}

				a.highlight:hover {
					text-decoration: none;

					background-color: $color_donate;
					color: #fff;
				}
			}
		}

		.nav-search-wrap {
			margin-top: .7rem;
		}
	}

}

@include media('<=desktop') {
	.top-navigation.navbar {
		.navbar-content {
			.navbar-dropdown {
				width: 400px;

				.nav-item {
					a {
						color: #fff;
					}

					a.highlight {
						padding: 0 0 0 50px;
					}

					&.wpml-ls-item {
						background-color: rgba(0, 0, 0, .3);

						.nav-link:after	 {
							padding: 0 1em;
						}
					}
				}

			}
		}
	}
}
