.top-navigation {
	flex-wrap: nowrap;

	font-family: var(--gpch--font-family-standard);

	#nav-main-desktop {
		flex-shrink: 0;
	}

	.nav-search-form {
		min-width: 20%;
		flex-shrink: 1;
	}

	.nav-languages-toggle {
		flex-shrink: 0;
		text-transform: uppercase;

		.nav-languages {
			text-transform: none;
		}
	}

	.nav-item {
		font-size: 20px;
		font-weight: var(--gpch--font-weight--bold);
	}

	.btn-donate {
		background-color: var(--p4-action-yellow-500);
		font-family: var(--gpch--font-family-standard);
		font-weight: var(--button--font-weight, bold);

		&:hover {
			background-color: var(--p4-action-yellow-600);
		}
	}
}

#search_form {
	margin-bottom: 0;
}
