
:root {
	--nav-link-active--text-decoration: underline 3px #73BE1E;
	--nav-link--hover--text-decoration: underline 3px #73BE1E;
	--top-navigation--btn-donate--background: #ef7831;
	--top-navigation--btn-donate--color: #fff;
	--top-navigation--btn-donate--hover--color: #fff;
}


a.nav-link,
.top-navigation .btn-donate {
	font-size: 18px;
}

.top-navigation {
	.btn-donate {
		border-radius: 4px;
	}

	.nav-languages-toggle {
		text-transform: uppercase;
	}

	#search_input {
		margin: 11px 8px 8px 8px;
		width: calc(100% - 50px);

		border: solid 1px rgb(210, 210, 210);
		border-radius: 4px;
		line-height: 43px;
	}

	.nav-search-btn {
		float: none;
	}

	.nav-search-clear {
		display: none;
	}
}
