/* GPCH Jobs, GPCH Archived Post */
.single-gpch_archived_post,
.single-gpch_job {
	.page-header {
		margin-bottom: 0;
	}
	
	.page-header-title {
		margin-bottom: 2rem;
	}

	.single-post-meta {
		address { /* The author name is not needed in job postings*/
			display: none;
		}
	}
}