body,
body:not(.wp-admin) { /* Master theme uses this more specific notation */
	font-family: $font-family;

	&.brown-bg {
		background-color: $color_white;
	}
}


/* Bugfix for donation overlay issue: https://tickets.greenpeace.ch/view.php?id=300 */
div.page-content > * {
	z-index: auto;
}

.top-navigation {
	z-index: 9000;
}


@include media('<=desktop') {
	.post-content .container {
		padding-left: 0;
		padding-right: 0;
	}
}

/*
  Correction for min-width in tables on mobile
  https://tickets.greenpeace.ch/view.php?id=302
*/
@media (max-width: #{$small-width}) {
	.post-content table {
		td {
			min-width: auto;
		}
	}
}
