
:root {
	--nav-link-active--text-decoration: underline 3px #73BE1E;
	--nav-link--hover--text-decoration: underline 3px #73BE1E;
	--top-navigation--btn-donate--background: #ef7831;
	--top-navigation--btn-donate--color: #fff;
	--top-navigation--btn-donate--hover--color: #fff;
}

a.nav-link,
.top-navigation .btn-donate {
	font-size: 18px;
}

a.nav-link {
	color: $color_gray_dark;

	&:before {
		display: none;
	}
}

.top-navigation {
	background-color: rgba(255,255,255,0.9);

	#nav-menu {
		li a {
			transition: text-decoration 300ms, background-color 300ms;

			/* !important is due to the master theme using it here :( : https://github.com/greenpeace/planet4-master-theme/blob/f4709ff4eb3323c76e657db3f69438015111d89b/assets/src/scss/layout/_navbar.scss#L235 */
			text-decoration-style: solid !important;
			text-decoration-line: underline !important;
			text-decoration-thickness: 3px !important;
			text-underline-position: under !important;
			text-decoration-color: transparent !important;

			&:hover {
				text-decoration-color: $color_standard_1 !important;
			}

			&.btn-donate {
				border-radius: 4px;
				text-decoration: none !important;
			}
		}

		li.active a {
			text-decoration-color: $color_standard_1;
		}
	}

	.nav-languages-toggle {
		text-transform: uppercase;

		.nav-link {
			text-transform: none;
			
			&:after {
				margin-left: 5px;
			}
		}
	}

	#search_form {
		position: relative;
		top: 0;
		max-width: 250px;
		padding-left: 12px;
		background-color: transparent;
		line-height: 68px;
	}

	#search_input {
		margin: 11px 8px 8px 8px;
		padding-right: 40px;
		width: calc(100% - 10px);

		border: solid 1px rgb(190, 190, 190);
		border-radius: 4px;
		line-height: 43px;

		color: $color_gray_dark;

		&:focus {
			border-color: $color_standard_1;
		}
	}

	.nav-search-btn {
		float: none;
		position: absolute;
		top: -2px;
		right: 28px;
	}

	.nav-search-clear {
		display: none;
	}
}

@media (max-width: $extra-large-width) {
	.top-navigation {
		#search_form {
			position: absolute;
			top: 60px;
			max-width: none;
			background-color: #fff;
		}

		#search_input {
			margin-right: 20px;
		}
	}
}

@media (max-width: $large-width) {
	.top-navigation {
		#search_form {
			position: inherit;
		}
	}
}