.single-post {
	.top-page-tags .tag-wrap-bullet {
		color: $color_standard_1;
	}

	.page-header {
		margin-top: 120px;
		max-width: 1040px;
		margin-left: auto;
		margin-right: auto;

		.tag-item.external-link::after {
			display: none;
		}

		.page-header-title {
			margin-bottom: 2rem;
			text-transform: none;
			line-height: 1.1;

			color: $color_standard_1;
		}

		.single-post-meta {
			.author-pic {
				margin-right: 1rem;
			}
		}
	}

	.header-image {
		max-width: 736px;
		margin: 0 auto;

		img.post-header-image {
			max-width: 100%;
		}
	}

	.post-content {
		margin-left: auto;
		margin-right: auto;
	}
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		&.single-post {
			.top-page-tags .tag-wrap-bullet {
				color: #{nth($colors_1, $i)};
			}

			.page-header {
				.page-header-title {
					color: #{nth($colors_1, $i)};
				}
			}
		}
	}
}