.year-end-campaign-2026__editor-creature {
	border-top: 1px solid #ddd;
	margin-top: 1rem;
	padding-top: 1rem;

	.components-button img {
		display: block;
		height: 4rem;
		object-fit: cover;
		width: 4rem;
	}
}
