/* All themes */
ul, ol {
	margin-top: 1em;
}

/* No top margin when first child in columns */
.wp-block-column > ol:first-child,
.wp-block-column > ul:first-child {
	margin-top: 0;
}

ul.is-style-accent-links {
	display: inline-block;
	padding: 1em 8em 1em 4em;
	text-indent: -16px;
	list-style: none;


	li,
	li a {
		color: $color_standard_1;
		font-weight: 700;
		font-size: 1.5rem;
		line-height: 1.6em;
	}

	li:before {
		content: "\2192";
		display: inline-block;
		width: 16px;
		color: $color_standard_3;
	}
}

ul.is-style-accent-info {
	display: inline-block;
	padding: 1em 8em 1em 4em;
	text-indent: -16px;
	list-style: none;;
	background-color: $color_standard_2;

	li {
		margin-bottom: .5em;
	}

	li,
	li a {
		font-weight: 700;
		font-size: 1.2rem;
		color: $color_standard_1;
	}

	&>li:before {
		content: "\261b";
		display: inline-block;
		width: 16px;
		color: $color_standard_3;
	}

	ul {
		text-indent: 0px;
		margin-top: .5em;
	}
}

/* Fixes for master theme */
div.page-content > ul {
	display: block;
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		ul.is-style-accent-links {
			li,
			li a {
				color: #{nth($colors_1, $i)};;
			}

			li:before {
				color: #{nth($colors_3, $i)};;
			}
		}

		ul.is-style-accent-info {
			background-color: #{nth($colors_2, $i)};;

			li,
			li a {
				color: #{nth($colors_1, $i)};;
			}

			li:before {
				color: #{nth($colors_3, $i)};;
			}
		}
	}
}

/* Color scheme correction for climate */
@for $i from 1 through length($selector_colorscheme_climate) {
	#{nth($selector_colorscheme_climate, $i)} {
		ul.is-style-accent-info {
			li:before {
				color: $color_climate_1;
			}
		}
	}
}

/* Color scheme correction for ukraine */
@for $i from 1 through length($selector_colorscheme_ukraine) {
	#{nth($selector_colorscheme_ukraine, $i)} {
		ul.is-style-accent-info {
			li,
			li a {
				color: $color_ukraine_2_font ;
			}

			li:before {
				color: $color_ukraine_3;
			}
		}
	}
}

@include media('<=desktop') {
	ul.is-style-accent-info {
		padding-right: 1em;

		li,
		li a {
			font-size: 1rem;
		}
	}
	ul.is-style-accent-links {
		padding-right: 1em;

		li,
		li a {
			font-size: 1.3rem;
			line-height: 2em;
		}
	}
}
