hr.wp-block-separator {
	height: 2px;
	width: 100%;
	margin: 4rem auto 4rem auto;
	border: none;
	background-color: $color_standard_1;
	opacity: 1;
}

/* Fix for a master theme greedy selector */
.wp-block-separator:not(.is-style-wide):not(.is-style-dots) {
	max-width: none;
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		hr.wp-block-separator {
			background-color: #{nth($colors_1, $i)};
		}
	}
}


@include media('<=tablet') {
	hr.wp-block-separator {
		height: 2px;
		width: 100%;
		margin: 2rem auto 4rem auto;
	}
}
