.issuuembed {
	display: block;
	width: 100% !important;
	min-height: 460px !important;

	iframe {
		width: 100%;
		min-height: 460px;
		max-height: 100vh;
	}
}

.wp-block-embed-youtube {
	iframe {
		width: 100%;
	}

	figcaption {
		text-align: left;
		font-weight: 700;
	}
}

/*
	Fixes broken css in Youtube embed
	https://tickets.greenpeace.ch/view.php?id=322
 */
.wp-block-embed-youtube .wp-block-embed__wrapper {
	padding-bottom: 0;
}

/*
Fix broken vimeo embed positioning
 */
.wp-block-embed-vimeo .wp-block-embed__wrapper {
	padding-bottom: 0;
}

/* fix broken height in embeds */
.wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-1 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-1-2 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-4-3 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-9-16 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-16-9 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-18-9 .wp-block-embed__wrapper::before, .wp-embed-responsive .wp-block-embed.wp-embed-aspect-21-9 .wp-block-embed__wrapper::before {
	display: inline;
}

.embed-container, .wp-block-embed-dailymotion .wp-block-embed__wrapper, .wp-block-embed-kickstarter .wp-block-embed__wrapper, .wp-block-embed-vimeo .wp-block-embed__wrapper, .wp-block-embed-youtube .wp-block-embed__wrapper {
	height: auto;
}

