p.is-style-accent-1 {
	list-style: square;
	padding: 1em 4em 1em 4em;
	background-color: $color_standard_2;

	color: $color_standard_3;
	font-size: 1.2rem;
}

p.is-style-accent-2 {
	list-style: square;
	padding: 1em 4em 1em 4em;
	background-color: $color_standard_3;
	color: $color_standard_2;

	font-size: 1.2rem;
}

/* Hover color needs correction, otherwise the same as the background */
.page-content,
.post-content {
	p.is-style-accent-2 {
		a:hover {
			color: $color_standard_3_font;
		}
	}
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		p.is-style-accent-1 {
			background-color: #{nth($colors_2, $i)};
			color: #{nth($colors_2_font, $i)};
		}

		p.is-style-accent-2 {
			background-color: #{nth($colors_3, $i)};
			color: #{nth($colors_3_font, $i)};
		}

		.page-content,
		.post-content {
			p.is-style-accent-2 {
				a:hover {
					color: #{nth($colors_2, $i)};
				}
			}
		}

	}
}

@include media('<=tablet') {
	p.is-style-accent-1 {
		padding: 1em;
	}

	p.is-style-accent-2 {
		padding: 1em;
	}
}
