 .gform_wrapper,
 .gform_confirmation_wrapper {
	background-color: $color_standard_2;
	padding: 1em;
	margin: 1em 0;

	h2, h3, h4 {
		font-weight: 700;
		font-size: 2rem;
	}

	.gform_button,
	.gform_footer .gform_button,
	.gform_page_footer .gform_button,
	.gform_page_footer .gform_previous_button,
	.gform_page_footer .gform_next_button {
		border: 0;
		padding: 0 2rem;
		background-color: $color_standard_3;
		color: $color_standard_3_font;
		font-weight: 500;
		font-size: 1rem;
		transition: none;
	}

	.gform_page_footer .gform_previous_button {
		background-color: $color_gray_dark;
		color: #fff;
	}

	.gform_button:hover,
	.gform_page_footer .gform_next_button:hover,
	.gform_footer .gform_button:hover,
	.gform_page_footer .gform_previous_button:hover {
		background-color: $color_standard_1;
		color: $color_standard_1_font;
		cursor: pointer;
	}

	.gform_body {
		input[type="checkbox"] {
			position: absolute;
			opacity: 0;
			pointer-events: none;
		}

		input[type="checkbox"] ~ label {
			padding-inline-start: 36px;
		}
	}

	.gfield_required,
	.gfield.gfield_error .gfield_label {
		color: $color_gray_dark;
	}

	.gform_ajax_spinner {
		margin-left: 20px;
	}

	/* Remove the required icon from the title and display it next to the label */
	.gfield.privacy-field .gfield_label {
		display: none;
	}

	.gfield.privacy-field label::after {
		content: " *";
		color: $color_gray_dark;
	}

	&.gform_validation_error .gform_validation_errors {
		color: $color_gray_dark;
		border: none;

		.gform_submission_error {
			position: relative;

			padding: 0 1em;
			color: #c11d1d !important;
			font-size: 1rem;
			line-height: 1.2;
		}

		.gform-icon--close {
			display: block;
			position: absolute;
			left: -1rem;

			&:before {
				content: "!";
				font-weight: bold;
				font-family: $font-family !important;
			}
		}
	}

	.gfield.gfield_error .validation_message.gfield_validation_message {
		background-color: $color_gray_dark;
		font-size: 14px;
		border-color: #c11d1d;

		&::after {
			border-bottom-color: #c11d1d;
		}
	}

	/* Enhanced UI select field */
	.ginput_container_select .chosen-container {
		border-radius: 4px;
		font-family: Roboto, sans-serif;
		background-color: #fff;
		border: 1px solid #a3a5a7;
	}

	&.gravity-theme .chosen-container-single .chosen-single div {
		display: none;
	}

	.gfield .gfield_time_ampm::after,
	.gfield .ginput_address_country::after,
	.gfield .ginput_container_select::after {
		color: $color_gray_dark;
	}

	.form-control,
	.form-select,
	.gfield_time_ampm select,
	.gfield input:not([type="file"]),
	.gfield textarea,
	.ginput_address_country select,
	.ginput_container_multiselect select,
	.ginput_container_select select {
		color: $color_gray_dark;
	}

	 /* Remove required text */
	 .gform_required_legend {
		 display: none;
	 }
}

/* GravityForms styles corrections */
.gform_wrapper.gravity-theme input[type="text"],
.gform_wrapper.gravity-theme input[type="password"],
.gform_wrapper.gravity-theme input[type="email"],
.gform_wrapper.gravity-theme input[type="url"],
.gform_wrapper.gravity-theme input[type="date"],
.gform_wrapper.gravity-theme input[type="month"],
.gform_wrapper.gravity-theme input[type="time"],
.gform_wrapper.gravity-theme input[type="datetime"],
.gform_wrapper.gravity-theme input[type="datetime-local"],
.gform_wrapper.gravity-theme input[type="week"],
.gform_wrapper.gravity-theme input[type="number"],
.gform_wrapper.gravity-theme input[type="search"],
.gform_wrapper.gravity-theme input[type="tel"],
.gform_wrapper.gravity-theme input[type="color"],
.gform_wrapper.gravity-theme textarea,
.gform_wrapper.gravity-theme select {
	font-size: 18px;
}

.gform_wrapper.gravity-theme .gfield_checkbox label,
.gform_wrapper.gravity-theme .gfield_radio label {
	font-size: 16px;
	line-height: 1.2;
	font-weight: bold;
}

/* Enhanced user interface fro dropdowns */
.ginput_container_select .chosen-container-single {
	a.chosen-single {
		height: 41px;
		line-height: 41px;

		color: #000;
		font-size: 1.125rem;

		& > div {
			top: 8px;
		}

		span {
			color: #000;
		}
	}
}

/* GravityForms Polls Addon specific styles*/
body .gpoll_wrapper,
body #gforms_confirmation_message {
	.gpoll_field_label {
		margin-bottom: $margin-bottom-h3;
		font-size: 1.5rem;
		font-weight: $font-weight-bold;
		line-height: $line-height-h3;
		color: $color_gray_dark;
	}

	.gpoll_ratio_box,
	.gpoll_bar {
		background-color: #303133;
		color: $color_white;
	}

	.gpoll_ratio_box {
		border-top-left-radius: 2px;
		border-bottom-left-radius: 2px;
	}

	.gpoll_bar {
		.gpoll_bar_juice {
			background-color: $color_standard_1;
			background-image: none;

			border-top-right-radius: 2px;
			border-bottom-right-radius: 2px;

			box-shadow: none;
			-webkit-box-shadow: none;
			-moz-box-shadow: none;

			&::after {
				display: none;
			}
		}
	}

	.gpoll_bar_count {
		text-shadow: rgba(0, 0, 0, .3) 0px 0px 2px;
	}
}

/* not for petitions */
.is-style-petition-left .gform_wrapper {
	background-color: transparent;
	padding: 0;
}

 /* Master theme corrections */
 .gform_p4_confirmation {
	 .share-buttons {
		 display: none;
	 }
 }

 /* Master theme corrections for image choices */
 .custom-control .image-choices-choice input[type="radio"] ~ label {
	 padding-inline-start: 0;
 }

 .custom-control .image-choices-choice input[type="radio"]:checked ~ .custom-control-description::before,
 .custom-control .image-choices-choice input[type="radio"]:checked ~ label::before {
	 display: none;
 }


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.gform_wrapper,
		.gform_confirmation_wrapper {
			background-color: #{nth($colors_1, $i)};
			color: #{nth($colors_1_font, $i)};

			/* not for petitions */
			.is-style-petition-left .gform_wrapper {
				background-color: transparent;
			}

			.gform_button {
				background-color: #{nth($colors_3, $i)};
				color: #{nth($colors_3_font, $i)}
			}

			.gform_button:hover {
				background-color: #{nth($colors_2, $i)};
				color: #{nth($colors_2_font, $i)}
			}

			.gfield_required,
			.gfield.gfield_error .gfield_label {
				color: #{nth($colors_1_font, $i)};
			}

			.gfield.privacy-field label::after {
				color: #{nth($colors_1_font, $i)};
			}
		}
	}
}
