.articles-block {
	display: block;
	margin-top: 4rem;

	.limit-visibility {
		margin-top: 0; /* Remove a master theme hack */
	}

	h4.article-list-item-headline {
		font-size: 1.5rem;
	}

	.article-list-item-content {
		font-weight: 400;
	}

	.article-list-item .top-page-tags .tag-wrap {
		color: $color_standard_3;
	}

	.article-list-item .top-page-tags .tag-item {
		color: $color_standard_1;
	}
}

body .page-content {
	.article-list-item-headline a,
	.article-list-item-author a,
	.search-result-item-body a {
		color: $color_gray_dark;
	}

	.article-list-item-headline a:hover,
	.search-result-item-body a:hover {
		color: $color_standard_3;
	}
}

/* correct margins when articles appear after a separator */
.wp-block-separator + .articles-block {
	margin-top: 0;
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		&.article-list-item .top-page-tags .tag-item {
			color: #{nth($colors_1, $i)};
		}
	}
}
