.accordion-block {
	.accordion-content {
		border-bottom: solid 1px #ccc;

		/**
		Reset unnecessary master theme styles
		 */
		.accordion-headline,
		.panel,
		.accordion-text,
		.accordion-btn {
			font-family: inherit;
			font-size: inherit;
			line-height: inherit;
			color: inherit;
			background-color: inherit;
		}

		.accordion-headline {
			margin-bottom: 0;
			padding: .5em 24px .5em .5em;

			border: none;
			border-radius: 0;

			font-weight: 700;


			&:after {
				height: 1rem;
				top: 13px;
				right: 8px;
				background-color: $color_standard_1;

				&:hover {
					background-color: $color_standard_3;
				}
			}

			&:hover {
				background-color: inherit;
				color: $color_standard_1;
			}
		}

		.panel {
			padding: 0 .5em 1em .5em;
		}

		.accordion-btn {
			width: auto;
			margin: 1em 0 0 0;
			background-color: $color_standard_1;
			color: $color_standard_1_font;

			font-size: 0.875rem;
			font-weight: 500;
			padding: 0.667em 1.333em;

			&:hover {
				background-color: $color_standard_3;
				color: $color_standard_3_font
			}
		}
	}

	.accordion-content:first-child {
		border-top: solid 1px #ccc;
	}
}


/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.accordion-block {
			.accordion-content {
				.accordion-headline {
					&:after {

						background-color: #{nth($colors_1, $i)};

						&:hover {
							background-color: #{nth($colors_3, $i)};
						}
					}

					&:hover {
						background-color: inherit;
						color: #{nth($colors_1, $i)};
					}
				}

				.accordion-btn {

					background-color: #{nth($colors_1, $i)};
					color: #{nth($colors_1_font, $i)};

					&:hover {
						background-color: #{nth($colors_3, $i)};
						color: #{nth($colors_3_font, $i)}
					}
				}
			}
		}
	}
}
