/*
    Color Palette Styles
 */
.has-almost-black-color {
	color: #1a1a1a;
}

.has-almost-black-background-color {
	background-color: #1a1a1a;
}

.has-gray-2-color {
	color: #333333;
}

.has-gray-2-background-color {
	background-color: #333333;
}

.has-gray-3-color {
	color: #666666;
}

.has-gray-3-background-color {
	background-color: #666666;
}

.has-gray-4-color {
	color: #999999;
}

.has-gray-4-background-color {
	background-color: #999999;
}

.has-gray-5-color {
	color: #cccccc;
}

.has-gray-5-background-color {
	background-color: #cccccc;
}

.has-gray-light-color {
	color: #e5e5e5;
}

.has-gray-light-background-color {
	background-color: #e5e5e5;
}

.has-white-color {
	color: #ffffff;
}

.has-white-background-color {
	background-color: #ffffff;
}


/* Standard colors */
.has-gp-green-1-color {
	color: $color_standard_1;
}

.has-gp-green-1-background-color {
	background-color: $color_standard_1;
}

.has-gp-green-2-color {
	color: $color_standard_2;
}

.has-gp-green-2-background-color {
	background-color: $color_standard_2;
}

.has-gp-green-3-color {
	color: $color_standard_3;
}

.has-gp-green-3-background-color {
	background-color: $color_standard_3;
}


/* Agriculture */
.has-gp-agriculture-1-color {
	color: $color_agriculture_1;
}

.has-gp-agriculture-1-background-color {
	background-color: $color_agriculture_1;
}

.has-gp-agriculture-2-color {
	color: $color_agriculture_2;
}

.has-gp-agriculture-2-background-color {
	background-color: $color_agriculture_2;
}

.has-gp-agriculture-3-color {
	color: $color_agriculture_3;
}

.has-gp-agriculture-3-background-color {
	background-color: $color_agriculture_3;
}


/* Arctic */
.has-gp-arctic-1-color {
	color: $color_arctic_1;
}

.has-gp-arctic-1-background-color {
	background-color: $color_arctic_1;
}

.has-gp-arctic-2-color {
	color: $color_arctic_2;
}

.has-gp-arctic-2-background-color {
	background-color: $color_arctic_2;
}

.has-gp-arctic-3-color {
	color: $color_arctic_3;
}

.has-gp-arctic-3-background-color {
	background-color: $color_arctic_3;
}


/* Climate */
.has-gp-climate-1-color {
	color: $color_climate_1;
}

.has-gp-climate-1-background-color {
	background-color: $color_climate_1;
}

.has-gp-climate-2-color {
	color: $color_climate_2;
}

.has-gp-climate-2-background-color {
	background-color: $color_climate_2;
}

.has-gp-climate-3-color {
	color: $color_climate_3;
}

.has-gp-climate-3-background-color {
	background-color: $color_climate_3;
}


/* Chemical */
.has-gp-chemical-1-color {
	color: $color_chemical_1;
}

.has-gp-chemical-1-background-color {
	background-color: $color_chemical_1;
}

.has-gp-chemical-2-color {
	color: $color_chemical_2;
}

.has-gp-chemical-2-background-color {
	background-color: $color_chemical_2;
}

.has-gp-chemical-3-color {
	color: $color_chemical_3;
}

.has-gp-chemical-3-background-color {
	background-color: $color_chemical_3;
}


/* Fleet */
.has-gp-fleet-1-color {
	color: $color_fleet_1;
}

.has-gp-fleet-1-background-color {
	background-color: $color_fleet_1;
}

.has-gp-fleet-2-color {
	color: $color_fleet_2;
}

.has-gp-fleet-2-background-color {
	background-color: $color_fleet_2;
}

.has-gp-fleet-3-color {
	color: $color_fleet_3;
}

.has-gp-fleet-3-background-color {
	background-color: $color_fleet_3;
}


/* Forest */
.has-gp-forest-1-color {
	color: $color_forest_1;
}

.has-gp-forest-1-background-color {
	background-color: $color_forest_1;
}

.has-gp-forest-2-color {
	color: $color_forest_2;
}

.has-gp-forest-2-background-color {
	background-color: $color_forest_2;
}

.has-gp-forest-3-color {
	color: $color_forest_3;
}

.has-gp-forest-3-background-color {
	background-color: $color_forest_3;
}


/* Plastic */
.has-gp-plastic-1-color {
	color: $color_plastic_1;
}

.has-gp-plastic-1-background-color {
	background-color: $color_plastic_1;
}

.has-gp-plastic-2-color {
	color: $color_plastic_2;
}

.has-gp-plastic-2-background-color {
	background-color: $color_plastic_2;
}

.has-gp-plastic-3-color {
	color: $color_plastic_3;
}

.has-gp-plastic-3-background-color {
	background-color: $color_plastic_3;
}
