p,
ul li,
ol li {
	font-size: $font-size-standard;
	line-height: $line-height-standard;
}

single {
	p,
	ul li,
	ol li {
		margin-top: 1rem;
		margin-bottom: 1rem;
	}
}

b, strong {
	font-weight: $font-weight-bold;
}

.page-content > p,
.page-content > dl.accordion,
.page-content > ul {
	max-width: $one_column_content_width;
}

.page-content a:not(.btn, .wp-block-button__link),
.post-content a {
	color: $color_standard_1;
}

.post-content p:not(.article-list-item-meta) a, .post-content > ol li a, .post-content > ul li a,
.page-content p:not(.article-list-item-meta) a, .page-content > ol li a, .page-content > ul li a {
	border-bottom: none;
	transition: none;
}
.post-content p:not(.article-list-item-meta) a:hover, .post-content > ol li a:hover, .post-content > ul li a:hover,
.page-content p:not(.article-list-item-meta) a:hover, .page-content > ol li a:hover, .page-content > ul li a:hover {
	box-shadow: none;
}
.post-content p:not(.article-list-item-meta) a:active, .post-content p:not(.article-list-item-meta) a:hover, .post-content > ol li a:active, .post-content > ol li a:hover, .post-content > ul li a:active, .post-content > ul li a:hover,
.page-content p:not(.article-list-item-meta) a:active, .page-content p:not(.article-list-item-meta) a:hover, .page-content > ol li a:active, .page-content > ol li a:hover, .page-content > ul li a:active, .page-content > ul li a:hover {
	text-decoration: underline !important;
}

body .post-content .swp_social_panel a {
	color: #fff !important;
}

.page-content a:hover,
.post-content a:hover {
	color: $color_standard_3;
}

/* Other buttons */
a.btn-accent:not([href]):not([tabindex]),
a.btn-accent {
	background-color: $color_standard_3;
	color: $color_standard_3_font;
	text-decoration: none;
}

a.btn-accent:not([href]):not([tabindex]):hover,
a.btn-accent:hover {
	background-color: $color_standard_1;
	color: $color_standard_1_font;
}

/* Correction for Wordpress inline style */

a:where(:not(.wp-element-button)) {
	text-decoration-line: none;
}

/* Color Schemes */
@for $i from 1 through length($schema_names) {
	#{nth($selectors, $i)} {
		.page-content a,
		.post-content a {
			color: #{nth($colors_1, $i)};
		}

		.page-content a:hover,
		.post-content a:hover {
			color: #{nth($colors_3, $i)};
		}
	}
}

@include media('<=tablet') {
	p,
	ul li,
	ol li {
		font-size: $font-size-standard-mobile;
		line-height: $line-height-standard;
	}
}

/* Visual Identity fixes */
.carousel-header .carousel-caption .main-header p  {
	font-weight: var(--font-weight-semibold);
}

