/* Colors */
$color_green_light: #66cc00;
$color_green_dark: #003300;

$color_gray_dark: #333333;

$color_white: #ffffff;


/* page accents */
$color_forest_1: #266712;
$color_forest_2: rgb(142, 179, 134);
$color_forest_3: #d26883;

$color_climate_1: #dc1831;
$color_climate_2: #dc968e;
$color_climate_3: #dbdcd6;
