:root {
	/* Typography */
	--body--font-family: Roboto, sans-serif;
	--font-family-heading: Roboto, sans-serif;
	--font-family-primary: Roboto, sans-serif;
	--font-family-secondary: Roboto, sans-serif;
	--font-family-tertiary: Roboto, sans-serif;
	--font-family-paragraph-primary: Roboto, sans-serif;
	--font-family-paragraph-secondary: Roboto, sans-serif;
	--font-family-button: Roboto, sans-serif;
	--font-family-paragraph-secondary: Roboto, sans-serif;

	--font-size-xl--font-family-secondary: 18px;

	--font-weight-regular: 400;
	--font-weight-semibold: 500;
	--nav-item--font-weight: 600;
	--button--font-weight: 500;
	--top-page-tags--tag-item--font-weight: 500;

	/* Buttons */
	--button-primary--background: #{$color_green_light};
	--button-primary--color: #{$color_white};
	--button-primary--border: none;
	--button-primary--border-color: transparent;
	--button-primary--box-shadow: 0 2px 5px rgba(0,0,0,.25);

	--button-primary--hover--background: #{$color_green_dark};
	--button-primary--hover--color: #{$color_white};
	--button-primary--hover--border: none;
	--button-primary--hover--box-shadow: 0 2px 5px rgba(0,0,0,.25);

	--button-donate--background: #f36b35;
	--button-donate--hover--background: #ee562d;
	--button-donate--color: #ffffff;
	--button-donate--visited--color: #ffffff;

	--link--color: #{$color_standard_1};
	--link--hover--color: #{$color_standard_3};

	/* Take Action Cards */
	--cover-card-heading--font-weight: 700;

	/* P4 Take Action Boxout */
	--boxout--btn--padding: 8px 16px;
}