/* Break points for responsive, same values as the master theme uses */
$extra-small-width:  320px;
$small-width:        576px;
$medium-width:       768px;
$large-width:        992px;
$extra-large-width:  1200px;

/* values used by includemedia */
$size_width_phone: $extra-small-width;
$size_width_tablet: $medium-width;
$size_width_desktop: $large-width;

$content_width: 1140px;
$header_width: 1300px;

$one_column_content_width: 740px;
